.tab-labels {
    background:rgb(102, 148, 235);
    list-style: none;
    height: 80px; 
    width:100%;
    color: white;
    display: flex;
    align-items: center; 
   
  }
   /*footer text*/
   .footer-text{
    color: white;
    position: absolute;
  margin-left: 40%;
  }

  /* header tab */
.footer {
  background: linear-gradient(to bottom, rgba(58, 69, 219, 0.758), rgb(20, 20, 133));
  list-style: none;
  height: 80px; 
  width:100%;
  color: white;
  display: flex;
  align-items: center; 
 

}


/* box */
.box {
    display: flex;
    width: 450px;
    height: 450px;
    background-color:white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    padding: 20px;
   margin-left: 400px;
    margin-bottom: 20px;
  }
  
  /* main text */
  .forget-password{
   text-align: center;
   align-content: center;
    font-weight: bold;
    font-size: 40px;
  }
  
  /* paragraph */
  .paragraph{
    color: rgb(71, 120, 255);
    text-align: center;
    margin-top: 60px;
  }

  /* content of the box */

  .box-content{
    text-align: center;
   display: block;
  }